html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border-radius: 40px;
}

*::-webkit-scrollbar {
  width: 5px;
  border-radius: 40px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #ffffff),
    color-stop(0.5, #34e1eb),
    color-stop(1, #ffffff)
  );
}
